body {
  margin: 0;
}

#wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

/* The sidebar menu */
#sidebar {
  overflow: auto;
  flex: 50%;
  padding: 20px;
  background-color: rgb(231, 239, 243);
}

/* When you mouse over the navigation links, change their color */
#sidebar a:hover {
  color: #f1f1f1;
}

/* Style page content */
#main {
  overflow: auto;
  flex: 50%;
  padding: 20px;
}

@media screen and (min-width: 1200px) {
  #wrapper {
    width: 1200px;
    margin: auto;
  }
}
