body {
  margin: 0;
  font-family: 14px / 1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
}

#wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

/* The sidebar menu */
#sidebar {
  overflow: auto;
  flex: 1;
  padding: 20px;
  background-color: rgb(231, 239, 243);
}

/* When you mouse over the navigation links, change their color */
#sidebar a:hover {
  color: #f1f1f1;
}

/* Style page content */
#main {
  overflow: auto;
  padding: 20px;
  flex: 4;
}

@media screen and (min-width: 1200px) {
  #wrapper {
    width: 1200px;
    margin: auto;
  }
}
