<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pinar Gibson | {{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/highlighter.css">
  </head>
  <body>
    <div id="wrapper">
      <section id="sidebar">
        <h1><a href="/">Pinar Gibson</a></h1>
        <p>
          I am a junior data analyst with a background in media.
          I love extracting insights from datasets. 
          My problem-solving skills and keen eye for detail ensure precision throughout the analytics workflow. 
          Known for my collaborative spirit, I actively share my knowledge. 
          I am passionate about leveraging my unique blend of analytical skills and media industry experience
          to drive data-driven decision-making.
        </p>
  
        <p>
          <b><u>SKILLS</u></b>
        </p>

        <ul>
          <li><b><u>Analytics:</u></b> Data Extraction, Cleaning and Wrangling, Modelling, Analysis, Visualisation, Dashboards, Presentation</li>
          <li><b><u>Tools:</u></b> Microsoft Excel, Power BI, Power Query, Tableau, SQL, Python, Pandas, Matplotlib, Plotly, Seaborn, Scikit-Learn, Beautifulsoup</li>
        </ul>

        <p>
          <b><u>CONTACT</u></b>
        </p>

        <p>
          <ul>
            <li><a href="https://www.linkedin.com/in/pinar-gibson/">My LinkedIn profile</a></li>
            <li><a href="https://www.github.com/pinargib">My GitHub profile</a></li>
            <li><a href="https://public.tableau.com/app/profile/pinar.gibson">My Tableau profile</a></li>
            <li><a href="mailto:pinarkaymak@gmail.com">Email</a></li>
          </ul>
        </p>
      </section>
      <section id="main">
        <section id="main-inner">
          {{ content }}
        </section>
      </section>
    </div>
  </body>
</html>